body{
  color: #40514E;
  margin: 0;
  text-align: center;
  height:100%;

  font-size: 35px;


  }
h1{

  font-size: 90px;
  font-weight: bold;
font-family: 'Sacramento', cursive;
  margin: 40px auto 0 auto;


}

h2{

color: blue;
font-family: 'Montserrat', sans-serif;

  padding-bottom: 10px;



}
h3{

  color: blue;
  font-family: 'Alumni Sans', sans-serif;

}
p{
  line-height: 2;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;

}
a{
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}

.top-container{
  background-color: #d8f0f3;
  position: relative;
  padding-top: 150px;


}
.middle-container{
  margin: 100px 0;

}
.bottom-container{
  
  background-color: #66BFBF;
  width:200px;
  
  
}
.pro{
  text-decoration: underline;
}
.welcome{
  border-radius: 150px;
  position: absolute;
  left: 50px;
 top: 20px;
 animation-name: drive;
 animation-duration: 5s;
 animation-direction: alternate;
 animation-iteration-count: infinite;


}
@keyframes drive{
  from{transform: translateX(0)}
  to{transform: translateX(10px);}
}




.bottom-cloud{
  position: absolute;
  left: 300px;
  animation-name: drive;
  animation-duration: 10s;

  animation-iteration-count: infinite;
animation-direction: alternate;

}
@keyframes drive {
  from{transform: translateX(0)}
  to{transform:  translateX(800px)}

}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.top-cloud{
 
  position: absolute;
  right: 300px;
  top: 50px;
  animation-name: drive;
  animation-duration: 10s;

animation-iteration-count: infinite;
animation-direction: alternate;


}
.top-cloud ::after{
  content: "";
  position: absolute;
  
}
@keyframes drive {
  from{transform: translateX(0)}
  to{transform:  translateX(300px)}

}
.mountain{
  position: relative;
  top: 40px;

  animation-name: drive;
  animation-duration: 10s;

  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes drive {
  from{transform: translateX(0)}
  to{transform:  translateX(300px)}


}
.my-image{
  border-radius: 300px;


}

.skill-row{
  width:50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 1.5;
}
.code-img{
  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius:auto;
}
.interaction{
  width: 25%;
  float: right;
  margin-left: 30px;

  border-radius: 200px;
  cursor: pointer;
}
.interaction:hover{
  background: salmon;
}


.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
